{% load static %}

{% load staticfiles %}


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <meta name="description" content="">
    <meta name="author" content="Music App">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Music App{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/reset.min.css' %}">

  <link rel='stylesheet' href="{% static 'css/font-awesome.min.css' %}">
<link rel='stylesheet' href="{% static 'css/animate.min.css' %}">
  <link href="{% static 'css/style2.css' %}" rel="stylesheet">

  <link href="{% static 'css/icon.css'%}" rel="stylesheet">
  <link href="{% static 'css/materialize.css' %}" rel="stylesheet">
  <link href="{% static 'css/materialize.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/accounts.css' %}" rel="stylesheet">
  <link href="{% static 'css/main.css' %}" rel="stylesheet">
   <!-- <link href="{% static 'css/font.css' %}" rel="stylesheet"> -->
  
 
  <link href='https://fonts.googleapis.com/css?family=Helvetica' rel='stylesheet'>






<!-- <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script> -->
<!-- <script src="{% static 'js/init.js' %}"></script> -->
<script src="{% static 'js/init.js' %}"></script>



<!-- <script src="{% static 'js/main.js' %}"></script> -->
<!-- <script src="{% static 'js/materialize.js' %}"></script>
<script src="{% static 'js/materialize.min.js' %}"></script> -->





</head>

  </head>
  <body style="font-family: Helvetica; font-size: 12px;">
    {% include 'includes/header.html' %}

    {% block content %}
    {% endblock %}
      <!-- share button  -->
      <!-- share button  -->
      <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
                  <a class="btn-floating waves-effect waves-light btn-large red accent-2 pulse">
                      <i class="material-icons">share</i>
                  </a>
                  <ul>
                    <li>
                        <a class="btn-floating white" href="https://instagram.com" style="transform: scaleX(0.4) scaleY(0.4) translateY(40px) translateX(0px); opacity: 0;">
                            <i class="material-icons">
                                <img src="{% static 'img/instagram@3.png' %}" width="100%" class="scope-icon-cogni-ux-1" alt="">
                            </i>
                        </a>
                    </li>
                      <li>
                          <a class="btn-floating white" href="https://facebook.com" style="transform: scaleX(0.4) scaleY(0.4) translateY(40px) translateX(0px); opacity: 0;">
                              <i class="material-icons">
                                  <img src="{% static 'img/facebook@3.png' %}" width="100%" class="scope-icon-cogni-ux-1" alt="">
                              </i>
                          </a>
                      </li>
                      <li>
                          <a class="btn-floating white" href="https://twitter.com/?status=" style="transform: scaleX(0.4) scaleY(0.4) translateY(40px) translateX(0px); opacity: 0;">
                              <i class="material-icons ">
                                  <img src="{% static 'img/twitter@3.png' %}  " width="100%" class="scope-icon-cogni-ux-1 " alt=" ">
                              </i>
                          </a>
                      </li>
                  </ul>
              </div>




          <!-- Footer -->
            <!-- <footer class="page-footer teal">
              <div class="footer-copyright">
                <div class="container">
                  <div class="center">
                  © 2018 Copyright <a href="http://www.chipileconsultant.com" class="white-text text-lighten-3" >Chipile Consultant</a>
                </div>
                </div>
              </div>
            </footer> -->


            <!-- Footer -->
<footer class="footer-copyright ">
  <!-- <div class="container">
      <h5 class="center" class="header">Urban Afria</h5>
    <div class="row">
      <div class="col s12 m3">
        <h5 class="white-text">Photo Sharing</h5>
        <ul class="grey-text text-lighten-4">
        <li ><a href="" class="grey-text text-lighten-3">Home</a></li>
        <li ><a href="" class="grey-text text-lighten-3">About Us</a></li>
        <li ><a href="" class="grey-text text-lighten-3">Subscribe / Renew</a></li>
        <li ><a href="" class="grey-text text-lighten-3">PhotoSharing Footage</a></li>
        <li ><a href="" class="grey-text text-lighten-3">PhotoSharing Music</a></li>
        <li ><a href="" class="grey-text text-lighten-3">PhotoSharing Blog</a></li>
        <li ><a href="" class="grey-text text-lighten-3">Design Tips & Tricks</a></li>
        <li ><a href="" class="grey-text text-lighten-3">Trending Topics</a></li>
        <li ><a href="" class="grey-text text-lighten-3">Press / Media</a></li>
        <li ><a href="" class="grey-text text-lighten-3">Careers</a></li>
      </ul>
      </div>
      <div class="col s12 m3">
        <h5 class="white-text">Help</h5>
        <ul class="grey-text text-lighten-4">
        <li ><a href="" class="grey-text text-lighten-3">Support Center</a></li>
        <li ><a href="" class="grey-text text-lighten-3">Contact Us</a></li>
      </ul>
      <h5 class="white-text">Sales</h5>
      <ul class="grey-text text-lighten-4">
      <li ><a href="" class="grey-text text-lighten-3">(+260)xxxxxxxx</a></li>
    </ul>
      </div>
      <div class="col s12 m3">
        <h5 class="white-text">Legal</h5>
        <ul>
          <li>
            <a href="#" class="grey-text text-lighten-3">Website Terms of Use</a>
          </li>
          <li>
            <a href="#" class="grey-text text-lighten-3">License Agreement</a>
          </li>
          <li>
            <a href="#" class="grey-text text-lighten-3">Privacy Policy</a>
          </li>
          <li>
            <a href="#" class="grey-text text-lighten-3">Patents</a>
          </li>
        </ul>
      </div>

    </div>
  </div> -->

  <!-- <div  class="page-footer grey darken-3">
    <div class="container">
      <div class="center ">
        System Developed By
       <a href="http://www.chipileconsultant.com" class="white-text text-lighten-3" >Chipile Consultant </a>© 2018 Copyright
    </div>
    </div>
  </div> -->
</footer>


    {% block javascript %}

    <script src="{% static 'js/jquery.min.js' %}"></script>

    <script src="{% static 'js/jquery.easing.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'js/init.js' %}"></script>

    <script src="{% static 'js/materialize.min.js' %}"></script>

    <script src="{% static 'js/materialize.js' %}"></script>
    <script src="{% static 'js/jcarousel.min.js'  %}"></script>

    <script type="text/javascript">
    // $(".btn-play1").click(function(){
    // $("#btnPlay").toggle();
    // $("#btnPause").toggle();
    // });
    //
    //   $("#btnPause").click(function(){
    //       $("#btnPlay").toggle();
    //       $("#btnPause").toggle();
    //   });
    //
    //   $(".btn-play2").click(function(){
    //       $("#btnPlay2").toggle();
    //       $("#btnPause2").toggle();
    //   });
    //
    //   $("#btnPause2").click(function(){
    //       $("#btnPlay2").toggle();
    //       $("#btnPause2").toggle();
    //   });
    //
    //
    //   $("#invert").click(function(){
    //         $(".player-1").toggle();
    //         $(".player-2").toggle();
    //   });



$(function() {
    $('.jcarousel').jcarousel({
			wrap: 'circular'
    });
	
		$('.jcarousel-pagination').jcarouselPagination({
        item: function(page) {
            return '<li id="jcarousel-item' + page + '"><a href="#' + page + '">' + page + '</a></li>';
        }
    });
	
		$('#jcarousel-item1').addClass('active');
	
		$('.jcarousel-pagination')
    .on('jcarouselpagination:active', 'li', function() {
        $(this).addClass('active');
    })
    .on('jcarouselpagination:inactive', 'li', function() {
        $(this).removeClass('active');
    });
});

$('.jcarousel-prev').click(function() {
    $('.jcarousel').jcarousel('scroll', '-=1');
	
		$(".audio-avalanche")[0].pause();
		$(".audio-the-nights")[0].pause();
		$(".audio-dont-look-down")[0].pause();
		$(".play i").removeClass("fa-pause").addClass("fa-play");
		$(".play").removeClass("active")
	
		if ($('#jcarousel-item1').hasClass('active')) {
		$('.dont-look-down, .avalanche').removeClass('active');
		$('.the-nights').addClass('active');
		$(".song").html("The Nights");
		$(".artist").html("Avicii");
		$(".duration").html($(".audio-the-nights").duration);
	};
	
	if ($('#jcarousel-item2').hasClass('active')) {
		$('.the-nights, .avalanche').removeClass('active');
		$('.dont-look-down').addClass('active');
		$(".song").text("Don't Look Down");
		$(".artist").text("Martin Garrix");
	};
	
	if ($('#jcarousel-item3').hasClass('active')) {
		$('.the-nights, .dont-look-down').removeClass('active');
		$('.avalanche').addClass('active');
		$(".song").html("Avalanche");
		$(".artist").html("Bring Me The Horizon");
	};
});

$('.jcarousel-next').click(function() {
    $('.jcarousel').jcarousel('scroll', '+=1');
	
		$(".audio-avalanche")[0].pause();
		$(".audio-the-nights")[0].pause();
		$(".audio-dont-look-down")[0].pause();
		$(".play i").removeClass("fa-pause").addClass("fa-play");
		$(".play").removeClass("active")
	
				if ($('#jcarousel-item1').hasClass('active')) {
		$('.dont-look-down, .avalanche').removeClass('active');
		$('.the-nights').addClass('active');
		$(".song").html("The Nights");
		$(".artist").html("Avicii");
	};
	
	if ($('#jcarousel-item2').hasClass('active')) {
		$('.the-nights, .avalanche').removeClass('active');
		$('.dont-look-down').addClass('active');
		$(".song").html("Don't Look Down");
		$(".artist").html("Martin Garrix");
	};
	
	if ($('#jcarousel-item3').hasClass('active')) {
		$('.the-nights, .dont-look-down').removeClass('active');
		$('.avalanche').addClass('active');
		$(".song").html("Avalanche");
		$(".artist").html("Bring Me The Horizon");
	};
});

$(".options a").click(function() {
	$(this).toggleClass("active");
});

$(".favorite").click(function() {
	if($(".options .favorite i").hasClass("fa-heart")) {
		$(".options .favorite i").removeClass("fa-heart").addClass("fa-heart-o");
	}
	else {
		$(".options .favorite i").removeClass("fa-heart-o").addClass("fa-heart");
	}
});

$(".play").click(function() {
	$(".play").toggleClass("active");
	if($(".play i").hasClass("fa-play")) {
		$(".play i").removeClass("fa-play").addClass("fa-pause");
	}
	else {
		$(".play i").removeClass("fa-pause").addClass("fa-play");
	}
	
	if($(".play").hasClass("active") && $("#jcarousel-item3").hasClass("active")) {
		var audio = $(".audio-avalanche")[0];
    audio.play();
	} else {
    var audio = $(".audio-avalanche")[0];
    audio.pause();
    }
	
	if($(".play").hasClass("active") && $("#jcarousel-item2").hasClass("active")) {
		var audio = $(".audio-dont-look-down")[0];
    audio.play();
	} else {
    var audio = $(".audio-dont-look-down")[0];
    audio.pause();
    }
	
	if($(".play").hasClass("active") && $("#jcarousel-item1").hasClass("active")) {
		var audio = $(".audio-the-nights")[0];
    audio.play();
	} else {
    var audio = $(".audio-the-nights")[0];
    audio.pause();
    }
});

$(".volume").click(function(){
		$(".volume").removeClass("active");
		$(".volume-slider").animate({marginTop: '-150px'}, 500);
});

$(".volume-slider .close").click(function(){
		$(".volume-slider").animate({marginTop: '0px'}, 500);
})

$(".side-menu-trigger").click(function(){
    $(".side-menu").animate({marginLeft: '0px'});
		$(".volume-slider").animate({marginTop: '0px'}, 500);
}); 

$(".side-menu li a, .side-menu .close").click(function(){
    $(".side-menu").animate({marginLeft: '-310px'});
}); 

$('.volume-slider input[type="range"]').on('input', function () {
            var percent = Math.ceil(((this.value - this.min) / (this.max - this.min)) * 100);
            console.log(this.min);
            $(this).css('background', '-webkit-linear-gradient(left, #e74c3c 0%, #e74c3c ' + percent + '%, #999 ' + percent + '%)');
        });

$(".volume-slider").slider({
    min: 0,
    max: 100,
    value: 0,
		range: "min",
		animate: true,
    slide: function(event, ui) {
      setVolume((ui.value) / 100);
    }
});

function setVolume(myVolume) {
    var myMedia = document.getElementByClass('audio-avalanche');
    myMedia.volume = myVolume;
}
   
    </script>

    



    {% endblock %}
  </body>
</html>
