
{% extends 'base.html' %}

{% load static %}

{% load staticfiles %}

{% load widget_tweaks %}

{% block content  %}

<!-- Beginning of Container -->
<div class="container">
  <div class="row">

    <div class="s3">
    </div>

      <div class="s6">
      <div class="slider">
        <ul class="slides">
          <li>

            <img src="{% static 'img/s00.png' %}" width="20%">

           <!-- random image -->
            <div class="caption center-align">
              <h5 class="green-text green-text  darken-4"><b class="textbackground">Urban Africa</b></h5>
              <h5 class="green-text green-text  darken-4"><b class="textbackground">Real Estate Group</b></h5>

            </div>
          </li>
          <li>
            <img  src="{% static 'img/s4.jpg' %}"> <!-- random image -->
            <div class="caption left-align">
              <!-- <h3 class="black-text black-text  lighten-1"><b>Left Aligned Caption</b></h3> -->
              <h3 class="green-text green-text  darken-4"><b class="textbackground">Commercial property development</b></h3>
            </div>
          </li>
          <li>
            <img src="{% static 'img/s5.jpg' %}" style=" width: 100%;"> <!-- random image -->
            <div class="caption right-align">
              <h3 class="green-text green-text  darken-4"><b  class="textbackground">Asset & property management</b></h3>
              <!-- <h5 class="black-text black-text  lighten-1"><b  class="textbackground">Here's our small slogan.</b></h5> -->
            </div>
          </li>
          <li>
            <img src="{% static 'img/s3.jpg' %}"> <!-- random image -->
            <div class="caption center-align">
          <h3 class="green-text green-text  darken-4"><b class="textbackground">Commercial property advisory</b></h3>
              <!-- <h5 class="black-text black-text lighten-1"><b class="textbackground">Here's our small slogan.</b></h5> -->
            </div>

          </li>
          <li>
            <img src="{% static 'img/s0.jpg' %}"> <!-- random image -->
            <div class="caption right-align">
              <!-- <h3 class="black-text black-text  lighten-1"><b>This is our big Tagline!</b></h3>
              <h5 class="black-text black-text  lighten-1"><b>Here's our small slogan</b></h5> -->
            </div>
          </li>
            <li>
              <img src="{% static 'img/s1.jpg' %}" > <!-- random image -->
              <div class="caption center-align">
                <!-- <h3 class="black-text black-text  lighten-1"><b>This is our big Tagline!</b></h3>
                <h5 class="black-text black-text lighten-1"><b>Here's our small slogan.</b></h5> -->
              </div>
            </li>
            <li>
              <img src="{% static 'img/s2.jpg' %}" width="50%"> <!-- random image -->
              <div class="caption left-align">
                <!-- <h3 class="black-text black-text  lighten-1"><b>This is our big Tagline!</b></h3>
                <h5 class="black-text black-text  lighten-1"><b>Here's our small slogan.</b></h5> -->
              </div>
            </li>
        </ul>
      </div>
    </div>



    <!-- end of list of songs  -->

    </div>

    </div>

<!-- End of the container  -->


<!-- container for the music content -->

    

  <div class ="row">

      <div  class="container">
        <div class="row">


     



    <h6>
        Featured New Releases
        <span class="right"><a href="{% url 'SongLists' %}">All Featured New Releases</a></span>
      </h6>
      
      <hr>



       {% for NewSongs in NewSong %}
    
        
        <div class="col  s12 m3">
          <div class="card">
            <div class="card-image">
              <img src="{{NewSongs.SongImage.url}}" class="thumbnail">
            </div>
            <div class="card-content">
            <span class="card-title" style="font-size:10px;">{{NewSongs.SongName}}</span>
              <p style="font-size:10px;">{{ NewSongs.AlbumNames }}</p>
              <!-- <p>{{ NewSongs.ArtistNames }}</p> -->
            </div>
            <div class="card-action" style="font-size:10px;">
              <a href="{% url 'SongDetails' pk=NewSongs.pk %}">Listen</a>
            </div>
          </div>
        </div>
      {% if forloop.counter|divisibleby:2 %}<div class="row">{% endif %}
          {% if forloop.last %}</div>{% endif %}

    {% endfor %}



      <h6>
        Featured News Letter 
      </h6>
      
      <hr>


       {% for NewBlogs in NewBlog %}
    
        
        <div class="col  s12 m3">
          <div class="card">
            <div class="card-image">
              <img src="{{NewBlogs.BlogImage.url}}" class="thumbnail">
            </div>
            <div class="card-content">
            <span class="card-title" style="font-size:10px;">{{NewBlogs.Titles}}</span>
              
            </div>
            <div class="card-action" style="font-size:10px;">
             <a href="{% url 'BlogDetails' pk=NewBlogs.pk %}">Read more</a>
            </div>
          </div>
        </div>
      {% if forloop.counter|divisibleby:2 %}<div class="row">{% endif %}
          {% if forloop.last %}</div>{% endif %}

    {% endfor %}

    <!-- end -->
    

  </div>
    </div>





  </div>

  



{% endblock %}



    <!-- list of songs -->
    <h5>
  Featured New Releases
  </h5>
  <hr>
  {% for NewSongs in NewSong %}
    <div class="row">


        <div class="col s12 m3">





          <div class="card">
            <div class="card-image">
              <img src="{{NewSongs.SongImage.url}}" class="thumbnail" width="50%;">
            </div>
            <div class="card-content">
            <span class="card-title">{{NewSongs.SongName}}</span>
              <p>{{ NewSongs.AlbumNames }}</p>
              <!-- <p>{{ NewSongs.ArtistNames }}</p> -->
            </div>
            <div class="card-action">
              <a href="{% url 'SongDetails' pk=NewSongs.pk %}">Listen</a>
            </div>
          </div>
        </div>
      {% if forloop.counter|divisibleby:4 %}</div><div class="row">{% endif %}
          {% if forloop.last %}</div>{% endif %}

    {% endfor %}